In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
997,tt1659337,13000000,33400000,The Perks of Being a Wallflower,Logan Lerman|Emma Watson|Ezra Miller|Paul Rudd...,Stephen Chbosky,We are infinite.,A coming-of-age story based on the best-sellin...,102,Drama|Romance,Summit Entertainment|Mr. Mudd Production,9/20/2012,7.6,2012
1843,tt0186566,65000000,128884132,Space Cowboys,Clint Eastwood|Tommy Lee Jones|Donald Sutherla...,Clint Eastwood,Space will never be the same.,"Frank Corvin, â€˜Hawkâ€™ Hawkins, Jerry O'Neil...",130,Action|Adventure|Thriller,Village Roadshow Pictures|Malpaso Productions|...,7/31/2000,6.2,2000
1637,tt0368447,60000000,256697520,The Village,Bryce Dallas Howard|Joaquin Phoenix|Adrien Bro...,M. Night Shyamalan,There is no turning back,When a willful young man tries to venture beyo...,108,Drama|Mystery|Thriller,Scott Rudin Productions|Touchstone Pictures|Bl...,7/30/2004,6.0,2004
1145,tt0301470,17000000,63102666,Jeepers Creepers 2,Ray Wise|Jonathan Breck|Garikayi Mutambirwa|Er...,Victor Salva,He can taste your fear.,After 23 horrifying days of gorging on human f...,104,Horror|Thriller,United Artists|American Zoetrope|Myriad Pictur...,8/8/2003,5.4,2003
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
from datetime import datetime

answers = {}  # создадим словарь для ответов


def month_name(x):
    """Function to return RU month name based on the month index."""
    month_list = ['Январь','Февраль','Март','Апрель','Май', 'Июнь', 'Июль', 
                  'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
    return month_list[x-1]


def to_explode(df, col):
    """Function to break down values separated by "|" into separate rows."""
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    return df


def frmt_ans(x):
    """Function to display the answer as a combination of original_title and imdb_id in brackets."""
    name = data['original_title'].loc[x.index[0]]
    imdbid = data['imdb_id'].loc[x.index[0]]
    return f'{name} ({imdbid})'


# добавление и преобразование колонок
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x.replace('/','-'),"%m-%d-%Y"))
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data['release_date'].apply(lambda x: month_name(x.month))

In [5]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,Июнь
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,Май
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,Март
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,Декабрь
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,Апрель

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
ans1 = data[data.budget == data.budget.max()].original_title

In [7]:
answers['1'] = frmt_ans(ans1)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
ans2 = data[data.runtime == data.runtime.max()].original_title

In [9]:
answers['2'] = frmt_ans(ans2)
answers['2']

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
ans3 = data[data.runtime == data.runtime.min()].original_title

In [11]:
answers['3'] = frmt_ans(ans3)
answers['3']

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
ans6 = data[data.profit == data.profit.max()].original_title

In [15]:
answers['6'] = frmt_ans(ans6)
answers['6']

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [16]:
ans7 = data[data.profit == data.profit.min()].original_title

In [17]:
answers['7'] = frmt_ans(ans7)
answers['7']

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = data[data.profit > 0].imdb_id.nunique()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
ans9 = data[data.release_year == 2008].sort_values(by='revenue', ascending=False)['original_title']

In [20]:
answers['9'] = frmt_ans(ans9)
answers['9']

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
ans10 = data.query('2012 <= release_year <= 2014').sort_values(by='profit')['original_title']

In [22]:
answers['10'] = frmt_ans(ans10)
answers['10']

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [23]:
df2 = data.copy()
df2 = to_explode(df2, 'genres')
ans11 = df2['genres'].value_counts().index[0]

In [24]:
answers['11'] = ans11
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [25]:
df2 = data[data.profit > 0].copy()
df2 = to_explode(df2, 'genres')
ans12 = df2.genres.value_counts().index[0]

In [26]:
answers['12'] = ans12
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [27]:
df2 = data.copy()
df2 = to_explode(df2, 'director')
ans13 = df2.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

In [28]:
answers['13'] = ans13
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
df2 = data.copy()
df2 = to_explode(df2, 'director')
df2 = to_explode(df2, 'genres')
ans14 = df2[df2.genres == 'Action'].director.value_counts().index[0]

In [30]:
answers['14'] = ans14
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
df2 = data[data.release_year == 2012].copy()
df2 = to_explode(df2, 'cast')
ans15 = df2.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]

In [32]:
answers['15'] = ans15
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [33]:
df2 = data[data.budget > data.budget.mean()].copy()
df2 = to_explode(df2, 'cast')
ans16 = df2.cast.value_counts().index[0]

In [34]:
answers['16'] = ans16
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [35]:
df2 = data.copy()
df2 = to_explode(df2, 'cast')
df2 = to_explode(df2, 'genres')
ans17 = df2[df2.cast == 'Nicolas Cage'].genres.value_counts().index[0]

In [36]:
answers['17'] = ans17
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [37]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
ans18 = df2[df2.production_companies == 'Paramount Pictures'].sort_values(by='profit')['original_title']

In [38]:
answers['18'] = frmt_ans(ans18)
answers['18']

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [39]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df_warner = df2[df2.production_companies.str.contains("Warner Bros", na=False)]
ans_20 = df_warner.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

In [41]:
answers['20'] = ans_20
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [42]:
ans21 = data['release_month'].value_counts().index[0]

In [43]:
answers['21'] = ans21
answers['21']

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [44]:
answers['22'] = data.query('release_month in ["Июнь", "Июль", "Август"]').imdb_id.nunique()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [45]:
df2 = data.query('release_month in ["Декабрь", "Январь", "Февраль"]').copy()
df2 = to_explode(df2, 'director')
ans23 = df2.director.value_counts().index[0]

In [46]:
answers['23'] = ans23
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [47]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df2['title_length'] = df2.original_title.apply(lambda x: len(x))
ans24 = df2.groupby('production_companies').title_length.mean().sort_values(ascending=False).index[0]

In [48]:
answers['24'] = ans24
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df2['overview_length'] = df2.overview.apply(lambda x: len(x.split(' ')))
ans25 = df2.groupby('production_companies').overview_length.mean().sort_values(ascending=False).index[0]

In [50]:
answers['25'] = ans25
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [51]:
threshold = data['vote_average'].quantile(q=0.99)
result = data[data.vote_average > threshold]['original_title'].sort_values(ascending=False)
result

1183                          The Wolf of Wall Street
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
125                                The Imitation Game
138                          The Grand Budapest Hotel
599                                   The Dark Knight
34                                               Room
1800                                          Memento
118                                      Interstellar
9                                          Inside Out
370                                         Inception
119                           Guardians of the Galaxy
128                                         Gone Girl
1191                                 12 Years a Slave
Name: original_title, dtype: object

##### Дополнительное решение по нахождению правильного варианта ответа из предложенных в викторине

In [52]:
# cловарь из предложенных вариантов ответов
possible_ans = {
  "Answer 1": ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
  "Answer 2": ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
  "Answer 3": ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
  "Answer 4": ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
  "Answer 5": ['Upside Down', 'Inside Out', 'Iron Man']
}

matches = []

# итерация по списку фильмов из вариантов и добавление в список номера ответа, если фильм входит в 1% лучших
for ans_no, movie_list in possible_ans.items():
    for movie in movie_list:
        if movie in result.tolist():
            matches.append(ans_no)         

freq = Counter(matches).most_common(1)[0][0]  # самый часто повторяющийся ответ в списке - правильный вариант
ans26 = possible_ans[freq]
ans26 = ', '.join(map(str, ans26))  # вывод ответа в формате стринга, а не списка

In [53]:
answers['26'] = ans26
answers['26']

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [54]:
from itertools import combinations
from itertools import chain

df2 = data.copy()
df2['cast'] = df2.cast.str.split('|').apply(lambda x: list(combinations(x, 2)))
df2 = df2.explode('cast')
all_pairs = df2.cast.value_counts()
all_pairs

(Daniel Radcliffe, Rupert Grint)        8
(Daniel Radcliffe, Emma Watson)         8
(Rupert Grint, Emma Watson)             7
(Johnny Depp, Helena Bonham Carter)     6
(Ben Stiller, Owen Wilson)              6
                                       ..
(Dominic West, Roger Barclay)           1
(Johnny Depp, Kate Winslet)             1
(Robert Downey Jr., Terrence Howard)    1
(Jim Parsons, Matt Jones)               1
(Albert Finney, Billy Crudup)           1
Name: cast, Length: 18121, dtype: int64

##### Дополнительное решение по нахождению правильного варианта ответа из предложенных в викторине

In [55]:
possible_ans27 = {
  "Answer 1": 'Johnny Depp & Helena Bonham Carter',
  "Answer 2": 'Ben Stiller & Owen Wilson',
  "Answer 3": 'Vin Diesel & Paul Walker',
  "Answer 4": 'Adam Sandler & Kevin James',
  "Answer 5": 'Daniel Radcliffe & Rupert Grint'
}

top = all_pairs[all_pairs == all_pairs.max()].reset_index()  # топ пары актеров, которые снимались вместе чаще всего
top.columns = ['pair', 'count'] 
top.pair = top.pair.apply(lambda x: " & ".join(map(str, list(chain(x)))))  # преобразование в формат вариантов ответа

# итерация по вариантам ответов в поиске совпадения с 2-мя топ парами
for ans_no, var in possible_ans27.items():
    for pair in top.pair.tolist():
        if pair == var:
            res = ans_no

ans27 = possible_ans27[res]

In [56]:
answers['27'] = ans27
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [57]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [58]:
len(answers)

27