In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
980,tt1217209,185000000,538983207,Brave,Kelly Macdonald|Julie Walters|Billy Connolly|E...,Mark Andrews|Steve Purcell|Brenda Chapman,Change your fate.,Brave is set in the mystical Scottish Highland...,93,Animation|Adventure|Comedy|Family|Action,Walt Disney Pictures|Pixar Animation Studios,6/21/2012,6.6,2012
251,tt1190080,200000000,769653595,2012,John Cusack|Amanda Peet|Chiwetel Ejiofor|Thand...,Roland Emmerich,We Were Warned.,"Dr. Adrian Helmsley, part of a worldwide geoph...",158,Action|Adventure|Science Fiction,Columbia Pictures|Centropolis Entertainment|Th...,10/10/2009,5.6,2009
287,tt0892782,175000000,381509870,Monsters vs Aliens,Seth Rogen|Reese Witherspoon|Hugh Laurie|Paul ...,Rob Letterman|Conrad Vernon,"When aliens attack, monsters fight back.",When Susan Murphy is unwittingly clobbered by ...,94,Animation|Family|Adventure|Science Fiction,DreamWorks Animation,3/19/2009,6.0,2009
582,tt0250224,13000000,16929123,Crazy/Beautiful,Kirsten Dunst|Jay Hernandez|Bruce Davison|Herm...,John Stockwell,When it's real. When it's right. Don't let any...,"At Pacific Palisades High, a poor Latino falls...",99,Drama|Romance,Touchstone Pictures|Ufland,6/29/2001,6.6,2001
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
from datetime import datetime

answers = {}  # создадим словарь для ответов


def month_name(x):
    """Function to return RU month name based on the month index."""
    month_list = ['Январь','Февраль','Март','Апрель','Май', 'Июнь', 'Июль', 
                  'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
    return month_list[x-1]


def to_explode(df, col):
    """Function to break down values separated by "|" into separate rows."""
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    return df


def frmt_ans(x):
    """Function to display the answer as a combination of original_title and imdb_id in brackets."""
    name = data['original_title'].loc[x.index[0]]
    imdbid = data['imdb_id'].loc[x.index[0]]
    return f'{name} ({imdbid})'


# добавление и преобразование колонок
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x.replace('/','-'),"%m-%d-%Y"))
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data['release_date'].apply(lambda x: month_name(x.month))

In [5]:
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,Июнь
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,Май
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,Март
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,Декабрь
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,Апрель

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
ans1 = data[data.budget == data.budget.max()].original_title
ans1 = frmt_ans(ans1)

In [9]:
answers['1'] = ans1

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
ans2 = data[data.runtime == data.runtime.max()].original_title
ans2 = frmt_ans(ans2)

In [11]:
answers['2'] = ans2

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
ans3 = data[data.runtime == data.runtime.min()].original_title
ans3 = frmt_ans(ans3)

In [13]:
answers['3'] = ans3

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
ans6 = data[data.profit == data.profit.max()].original_title
ans6 = frmt_ans(ans6)

In [17]:
answers['6'] = ans6

# 7. Какой фильм самый убыточный?

In [18]:
ans7 = data[data.profit == data.profit.min()].original_title
ans7 = frmt_ans(ans7)

In [19]:
answers['7'] = ans7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = data[data.profit > 0].imdb_id.nunique()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
ans9 = data[data.release_year == 2008].sort_values(by='revenue', ascending=False)['original_title']
ans9 = frmt_ans(ans9)

In [22]:
answers['9'] = ans9

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
ans10 = data.query('2012 < release_year <= 2014').sort_values(by='profit')['original_title']
ans10 = frmt_ans(ans10)

In [24]:
answers['10'] = ans10

# 11. Какого жанра фильмов больше всего?

In [25]:
df2 = data.copy()
df2 = to_explode(df2, 'genres')
ans11 = df2['genres'].value_counts().index[0]

In [26]:
answers['11'] = ans11

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
df2 = data[data.profit > 0].copy()
df2 = to_explode(df2, 'genres')
ans12 = df2.genres.value_counts().index[0]

In [28]:
answers['12'] = ans12

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
df2 = data.copy()
df2 = to_explode(df2, 'director')
ans13 = df2.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

In [30]:
answers['13'] = ans13

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
df2 = data.copy()
df2 = to_explode(df2, 'director')
df2 = to_explode(df2, 'genres')
ans14 = df2[df2.genres == 'Action'].director.value_counts().index[0]

In [32]:
answers['14'] = ans14

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
df2 = data[data.release_year == 2012].copy()
df2 = to_explode(df2, 'cast')
ans15 = df2.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]

In [34]:
answers['15'] = ans15

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
df2 = data[data.budget > data.budget.mean()].copy()
df2 = to_explode(df2, 'cast')
ans16 = df2.cast.value_counts().index[0]

In [36]:
answers['16'] = ans16

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
df2 = data.copy()
df2 = to_explode(df2, 'cast')
df2 = to_explode(df2, 'genres')
ans17 = df2[df2.cast == 'Nicolas Cage'].genres.value_counts().index[0]

In [38]:
answers['17'] = ans17

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
ans18 = df2[df2.production_companies == 'Paramount Pictures'].sort_values(by='profit')['original_title']
ans18 = frmt_ans(ans18)

In [40]:
answers['18'] = ans18

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df_warner = df2[df2.production_companies.str.contains("Warner Bros", na=False)]
ans_20 = df_warner.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

In [43]:
answers['20'] = ans_20

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
ans21 = data['release_month'].value_counts().index[0]

In [45]:
answers['21'] = ans21

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = data.query('release_month in ["Июнь", "Июль", "Август"]').imdb_id.nunique()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [47]:
df2 = data.query('release_month in ["Декабрь", "Январь", "Февраль"]').copy()
df2 = to_explode(df2, 'director')
ans23 = df2.director.value_counts().index[0]

In [48]:
answers['23'] = ans23

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df2['title_length'] = df2.original_title.apply(lambda x: len(x))
ans24 = df2.groupby('production_companies').title_length.mean().sort_values(ascending=False).index[0]

In [52]:
answers['24'] = ans24

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
df2 = data.copy()
df2 = to_explode(df2, 'production_companies')
df2['overview_length'] = df2.overview.apply(lambda x: len(x.split(' ')))
ans25 = df2.groupby('production_companies').overview_length.mean().sort_values(ascending=False).index[0]

In [54]:
answers['25'] = ans25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [55]:
threshold = data['vote_average'].quantile(q=0.99)
result = data[data.vote_average > threshold]['original_title'].sort_values(ascending=False)

##### Дополнительное решение по нахождению правильного варианта ответа из предложенных в викторине

In [56]:
# cловарь из предложенных вариантов ответов
possible_ans = {
  "Answer 1": ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
  "Answer 2": ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
  "Answer 3": ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
  "Answer 4": ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
  "Answer 5": ['Upside Down', 'Inside Out', 'Iron Man']
}

matches = []

# итерация по списку фильмов из вариантов и добавление в список номера ответа, если фильм входит в 1% лучших
for ans_no, movie_list in possible_ans.items():
    for movie in movie_list:
        if movie in result.tolist():
            matches.append(ans_no)         

freq = Counter(matches).most_common(1)[0][0]  # самый часто повторяющийся ответ в списке - правильный вариант
ans26 = possible_ans[freq]
ans26 = ', '.join(map(str, ans26))  # вывод ответа в формате стринга, а не списка

'Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
answers['26'] = ans26

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
from itertools import combinations
from itertools import chain

df2 = data.copy()
df2['cast'] = df2.cast.str.split('|').apply(lambda x: list(combinations(x, 2)))
df2 = df2.explode('cast')
all_pairs = df2.cast.value_counts()

In [59]:
possible_ans27 = {
  "Answer 1": 'Johnny Depp & Helena Bonham Carter',
  "Answer 2": 'Ben Stiller & Owen Wilson',
  "Answer 3": 'Vin Diesel & Paul Walker',
  "Answer 4": 'Adam Sandler & Kevin James',
  "Answer 5": 'Daniel Radcliffe & Rupert Grint'
}

top = all_pairs[all_pairs == all_pairs.max()].reset_index()  # топ пары актеров, которые снимались вместе чаще всего
top.columns = ['pair', 'count'] 
top.pair = top.pair.apply(lambda x: " & ".join(map(str, list(chain(x)))))  # преобразование в формат вариантов ответа

# итерация по вариантам ответов в поиске совпадения с 2-мя топ парами
for ans_no, var in possible_ans27.items():
    for pair in top.pair.tolist():
        if pair == var:
            res = ans_no

ans27 = possible_ans27[res]

In [60]:
answers['27'] = ans27

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27